<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content= "width=device-width, initial-scale=1.0">
        <title>My First REST API</title>
    </head>

    <body>
        <h1>Subscribers API</h1>

        <!--CREATE Subscriber-->
        <section>
            <h2>Create Subscriber</h2>
            <form id="create-sub" action="/subscribers" method="POST">
                <fieldset>
                    <legend style="text-align: center;">Create Subscriber</legend>
                    <!-- Name Field -->
                    <label for="name">Full Name:</label>
                    <input type="text" id="name" name="name" placeholder="Maxwell Diga Hernandez" required>
                    <br><br>

                    <!-- Subscribed To Channel Field -->
                    <label for="subscribedToChannel">Channel Subscribed To:</label>
                    <input type="text" id="subscribedToChannel" name="subscribedToChannel" placeholder="freecodecamp" required>
                    <br><br>

                    <!-- Date Field -->
                    <label for="date">Date Subscribed:</label>
                    <input type="date" id="date" name="date">

                    <!-- Submit Button -->
                    <button type="submit">Submit</button>
                </fieldset>
            </form>
        </section>
        
        <!--READ Subscriber(s)-->
        <section>
            <h2>View Subscriber(s)</h2>

            <form action="/subscribers" method="GET">
                <p><em>To view all subscribers, leave Subscriber ID <b>blank</b>, else input Subscriber ID</em></p>
                <fieldset>
                    <legend style="text-align: center;">View Subscriber(s)</legend>
                    <!-- View Single or Multiple Subscriber(s) -->
                    <label for="id">Subscriber ID:</label>
                    <input type="text" id="id" name="id" placeholder="Enter Subscriber ID">
                    <button type="submit">View Subscriber(s)</button>
                    <br><br>
                </fieldset>
            </form>
        </section>

        <!--UPDATE Subscriber Info-->
        <section>
            <h2>Edit Subscriber</h2>
            <p>Enter <strong>ID of Subscriber</strong> you want to Edit then,</p>
            <ol>
                <li>Enter the <em>new Name</em> for the Subscriber</li>
                <li>Enter the <em>new Channel</em> for the Subscriber</li>
            </ol>
            <form action="/subscribers" method="GET">
                <fieldset>
                    <legend style="text-align: center;">Edit Subscriber(change Channel or Name)</legend>
                    <!-- Enter Subscriber ID -->
                    <label for="id">Subscriber ID:</label>
                    <input type="text" id="id" name="id" placeholder="Enter Subscriber ID">
                    <br><br>

                    <label for="id">New Name:</label>
                    <input type="text" id="name" name="name" placeholder="Mary Hathaway">
                    <br><br>

                    <label for="id">New Channel:</label>
                    <input type="text" id="subscribedToChannel" name="subscribedToChannel" placeholder="TEDx">
                    <br><br>

                    <button type="submit">Update Subscriber</button>
                </fieldset>
            </form>

        </section>

        <!--DELETE Subscriber-->
        <section>
            <h2>Delete User</h2>
        </section>
    </body>
</html>